In [51]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [52]:
import pandas as pd

In [53]:
A = [12.6, 12, 11.8, 11.9, 13, 12.5, 14]
B = [10, 10.2, 10, 12, 14, 13]
C = [10.1, 13, 13.4, 12.9, 8.9, 10.7, 13.6, 12]

In [54]:
all_scores = list()
all_scores.extend(A)
all_scores.extend(B)
all_scores.extend(C)
all_scores

## Alternatively we may use
# all_scores = A + B + C

[12.6,
 12,
 11.8,
 11.9,
 13,
 12.5,
 14,
 10,
 10.2,
 10,
 12,
 14,
 13,
 10.1,
 13,
 13.4,
 12.9,
 8.9,
 10.7,
 13.6,
 12]

In [55]:
company_name = (['A']*len(A) + ['B']*len(B) + ['C']*len(C))
type(company_name)
company_name

list

['A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C']

In [59]:
df = pd.DataFrame(data = {'company name': company_name, 'company score':all_scores })
df

   company name  company score
0             A           12.6
1             A           12.0
2             A           11.8
3             A           11.9
4             A           13.0
5             A           12.5
6             A           14.0
7             B           10.0
8             B           10.2
9             B           10.0
10            B           12.0
11            B           14.0
12            B           13.0
13            C           10.1
14            C           13.0
15            C           13.4
16            C           12.9
17            C            8.9
18            C           10.7
19            C           13.6
20            C           12.0