In [61]:
import pandas as pd
import numpy as np

In [62]:
from sklearn.linear_model import LinearRegression

In [63]:
import seaborn as sns

In [64]:
data = sns.load_dataset('car_crashes')
data.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [65]:
exogs = ['speeding', 'alcohol', 'not_distracted', 'no_previous']

In [66]:
model = LinearRegression()

In [67]:
vif_dict, tolerance_dict = {}, {}

In [68]:
for exog in exogs:
    
    not_exog = [ i for i in exogs if i != exog]
    X, y = data[not_exog], data[exog]
    
    r_squared = model.fit(X, y).score(X, y)
    
    vif = np.divide(1, 1 - r_squared)
    vif_dict[exog] = vif
    
    tolerance = 1 - vif
    tolerance_dict[exog] = tolerance
    
vif_dataframe = pd.DataFrame({'VIF': vif_dict, 'Tolerance': tolerance_dict})
vif_dataframe

                     VIF  Tolerance
alcohol         3.436072  -2.436072
no_previous     3.113984  -2.113984
not_distracted  2.668456  -1.668456
speeding        1.884340  -0.884340